:root {
    --tum-font: "helvetica", "Nimbus Sans", "Arial", sans-serif;
    --tum-blue: #0065BD;
    --tum-dark: #072140;
    --tum-light: #f0f5fa;

    --slide-margin: 4rem;

    --r-background-color: #fff;
    --r-main-font: var(--tum-font);
    --r-heading-font: var(--tum-font);
    --r-main-color: #000;
    --r-heading-color: var(--tum-blue);
    --r-link-color: var(--tum-font);
    --r-link-color-hover: var(--tum-font);

    --r-heading-text-transform: none;

    --r-heading1-size: 5rem;
    --r-heading2-size: 4rem;
}

* {
    transition: none !important;
}

.slide-number {
    background: none !important;
    font-size: 2rem !important;
    color: #000 !important;
    bottom: calc(var(--slide-margin) / 2) !important;
    right: var(--slide-margin) !important;
    padding: 0 !important;
}

.slides {
    text-align: start !important;
    margin: 4rem !important;
    width: calc(100% - 2 * var(--slide-margin)) !important;
    height: calc(100% - 2 * var(--slide-margin)) !important;
    background-image: url("tumlogo.svg");
    background-position: calc(100% - 0.2rem) 0.4rem;
    background-repeat: no-repeat;
    background-size: 7rem;

    container-name: --container--slide;
    container-type: size;
}

.katex-html {
    display: none;
}

ul {
    margin-left: 0 !important;
    > li {
        margin: 0.5rem auto;
        list-style-type: '■';
        text-indent: 2rem;

        &::marker {
            padding-right: 1rem;
            color: var(--tum-blue);
        }

        > ul > li {
            list-style-type: '□';
            font-size: 0.9em;
        }
    }
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img {
    max-height: calc(100vh - 2 * var(--slide-margin) - var(--r-heading-line-height) * 1lh - 3 * var(--r-block-margin)) !important;
}

.blue {
    color: var(--tum-blue);
}
